<%= form_with model: @product,
  class: "file-picker",
  data: {
    controller: "file-picker",
    action: "submit->file-picker#submitForm",
    "file-picker-uploaded-file-outlet": ".uploaded-file-component",
    "product-id": @product.id
  } do |f| 
%>
  <%= render "products/sticky_header", product: @product, form: f %>

  <div class="space-y-12 <%= horizontal_padding %>">
    <div class="py-12">
      <div class="grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
        <div class="sm:col-span-3">
          <ul role="list" class="divide-y divide-gray-100 overflow-hidden bg-white">
            <%= turbo_frame_tag "uploaded_files" do %>
              <% @contents.each do |content| %>
                <%= render UploadedFileComponent.new(content_id: content.id, name: content.name, file_type: content.file_type, file_size: content.file_size, upload_completed: content.product_id.present?) %>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

    <div class="py-12">
      <h2 class="text-base/7 font-semibold text-gray-900">Content Delivery</h2>
      <p class="mt-1 text-sm/6 text-gray-600">Upload the product's content for purchase.</p>

      <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
        <div class="col-span-3">
          <input
            data-file-picker-target="fileInput"
            data-action="change->file-picker#uploadFiles"
            class="hidden"
            type="file"
            multiple
          >
          <button
            data-file-picker-target="button"
            data-action="click->file-picker#open"
            type="button"
            class="relative block w-full rounded-lg border-2 border-dashed border-gray-300 p-12 text-center hover:border-gray-400 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
          >
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="mx-auto size-12 text-gray-400">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5m-13.5-9L12 3m0 0 4.5 4.5M12 3v13.5" />
            </svg>

            <span class="mt-2 block text-sm font-semibold text-gray-900">Upload your files</span>
          </button>
        </div>
      </div>
    </div>
  </div>
<% end %>